#footer-div-btn{
    list-style: none;
}

#footer-div-btn > ul > li > a > img:hover{
  color: red;
  /* background-color: aqua; */
  }


 .active{
  background-color: #422AD5;
  color: white;
  border: 1px solid #422AD5;
}